langchain 
langchain-community
langchain-openai
langchain-core
streamlit
python-dotenv
notebook
langchain-google-genai

langserve
fastapi
uvicorn

sse_starlette
flask 

faiss-cpu
bs4
pypdf
arxiv
wikipedia
langchainhub
groq
langchain_groq
sentence_transformers 
langchain-huggingface
numpy